.header1{
   width: 100%;
   height: 100vh;
   position: relative;
}
.slide_bg{
    background-image: url(../../public/img/commer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100%;
}
.header1::before{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
/* --------header2-------------- */

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5% 250px 0px 250px;
    color: #fff;
    position: relative;
}
.logo{
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 10;
}
.logo img{
    width: 100%;
    height: 100%;
}

.menu2{
    display: flex;
    justify-content: space-around;
}
.menu ul li{
    padding-right: 60px;
    font-weight: 500;

}
.menu ul li:last-child {
    padding-right: 0px;
}
/* -----hover------ */
.menu ul li a:hover {
    color:#e45b00;
}

/* ----- center head---- */
.content_hd{
    position: relative;
    padding: 80px 0px 0px 320px;
    color: #fff;
}
.content_hd span{
    font-size: 40px;
    font-weight: 700;
}
/* ------last header------ */
.header_last{
    margin-top: 18%;
    padding: 0px 250px;
}
.header_last ul{
    color: #fff;
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}
.header_last ul li:hover {
    color:#000;
}
/* --------sub menu0 */
.sub_menu0{
    background-color:#3e3e3e;
    position: absolute;
    width: 105%;
    height: 420px;
    margin: -6% 0 0 -38.7%;
    z-index: 5;
    display: none;
}
.menu2 li:hover .sub_menu0 {
    display: block;
    

}
.sub_menu0 img:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}
/* ---------sub menu---------- */
.sub_menu{
    background-color:#3e3e3e;
    position: absolute;
    width: 105%;
    height: 420px;
    margin: -6% 0 0 -47.7%;
    z-index: 5;
    display: none;
}
.menu2 li:hover .sub_menu{
    display: block;

}
.menu2 li a{
    position: relative;
    z-index: 10;
}
/* -----------sub_menu2-------- */
.sub_menu2{
    background-color:#3e3e3e;
    position: absolute;
    width: 103%;
    height: 420px;
    margin: -6% 0 0 -60.9%;
    z-index: 5;
    display: none;
}
.menu2 li:hover .sub_menu2 {
    display: block;
}
.sub_menu2 img:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}
.sub_menu img:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}
/* -------last header-------*/
.header_last ul li a:hover{
    color: #e45b00;
    font-weight: 700;
}